
table {
  display: table !important;
  width: 100% !important;
  border-radius: .5rem !important;
}


.mermaid-actions {
  display: none;
  }

img {
  margin: auto;
}

.page-container {
  .page-meta {
    display: none;
  }
  .page-nav {
    display: none;
  }
  .reco-waline-wrapper {
    .wl-power {
      display: none !important;
    }
  }
}
  
.theme-container {
  aside.series-container {
    .site-brand {
      .logo {
        margin: 0;
        margin-right: 1rem
      }
    }
  }
  .music-page {
    .theme-reco-default-content {
      margin-left: 0 !important; 
      margin-right: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      margin: 0 !important;      
      padding: 0;
      max-width: 100%;
    }  
    .page-container {
      padding: 0;
      .reco-waline-wrapper {
        display: none;
      }
    }
    .page-info {
      display: none;
    }
    .page-meta {
      display: none;
    }
  }
  }